<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <!-- Swap out "Roboto" for the font(s) you want to use -->
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Anton|Fjalla+One|Lato|Roboto:700&display=swap" rel="stylesheet">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- Your own CSS -->
    <link rel="stylesheet" href="/styles.css">

    <title>News</title>
  </head>
  <body class = "newsbackground">

    <div class = "jumbotron jumbotron-fluid jumbotron-news">
        <div class="container mt-5">
            <div class = "row4"> 
                <div class = "col4">
                    <p>
                        <h1 class="currentweather">Current Weather</h1> 
                            <p> 
                                <ul>
                                    <li class="currentforecast"> In <%= @timezone %>, it is currently <%= @current_temp %>&#176;F and <%= @current_conditions %>.</li>
                                </ul>
                            </p>
                    </p>
                    <p>
                        <h1 class="weeklyforecast">Weekly Forecast</h1> 
                            <p> 
                                <ul>
                                    <% for item in @masterarrayweather%>
                                    <li class = "weekly">On <%= item[0]%>, there is a high temperature of <%= item[1] %>&#176;F and it is <%= item[2] %> </li>
                                    <% end %>
                                </ul>   
                            </p>
                    </p>                           
                </div>
            </div>
            <div class = "row5">
                <div class = "col5">
                     <h1 class = "news">Top News</h1> 
                        <p> 
                            <ul>
                               <% for item in @masterarraynews%>
                               <li class = "news"> <a href=<%= item[1]%>> <%= item[0]%> </a></li>
                                <% end %>
                            </ul>
                        </p>
                </div>
            </div>
            <div class = "row6">
                <div class = "col6">
                    <p>
                            <a class="btn btn-primary" href="/">Go Back!</a>
                        </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>